.toggle-button{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 26px;
  background: transparent;
  border: none;
  margin-right: 1rem;
  cursor: pointer;
  box-sizing: border-box;
}

.toggle-button:focus{
  outline: none;
}

.toggle-bar{
  width: inherit;
  height: 3px;
  background: #EDF5E1;
}
.toggle-button:hover .toggle-bar{
    background-color: #EDF5E1;
}

@media screen and (max-width: 756px){
  .toggle-button{
    display: flex;
  }
}
