.sideBar{
  height: 100%;
  background: #46a3a3;
  box-shadow:  2px 0px 5px rgba(0,0,0, 0.5);
  position: fixed;
  top:0;
  right:0;
  width: 70%;
  max-width: 250px;
  z-index: 200;
}

.sideBar ul{
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.sideBar li{
  margin: 0.5rem 0;
}

.sideBar a{
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.sideBar a:hover,
.sideBar a:active{
  color: #ecf5f5;
}
